<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="login" method="post">
      <label for="email">Email</label>
      <input type="email" id="email" name="Email" />

      <label for="password">password</label>
      <input type="password" id="password" name="Password" />

      <input type="submit" />
    </form>

    <button id="forgotpass">Forgot password</button>

    <form id="forgopass" style="display: none">
      <lable for="inpumail">enter your registered email</lable>
      <input type="email" id="inpumail" />
      <input type="submit" />
    </form>

    <div id="error"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="loginscript.js"></script>
  </body>
</html>
